/* Product Detail Page */
.product-brand-breadcrumbs > :not([hidden]) {
  color: gray;
  & ~ :not([hidden]) {
    padding-left: 10px;
  }
}

.product-detail-tabs li {
  @apply relative py-2 px-4 hover:bg-slate-100 rounded-ss-lg rounded-se-lg;
  &.active {
    @apply bg-main rounded-ss-lg rounded-se-lg text-white;
    &::after,
    &::before {
      --border-radius: 1.5rem;
      content: "";
      position: absolute;
      bottom: 0;
      background: white;
      width: var(--border-radius);
      height: var(--border-radius);
    }

    &::before {
      left: calc(var(--border-radius) * -1);
      box-shadow: 5px 5px 0 5px #3b82f6;
      border-radius: 0 0 999px 0;
    }
    &::after {
      right: calc(var(--border-radius) * -1);
      box-shadow: -5px 5px 0 5px #3b82f6;
      border-radius: 0 0 0 999px;
    }
  }
}

.product-colors > div {
  @apply size-4 rounded-full cursor-pointer transition-all duration-150 ease-in;
}

/* Prime-React Components Start */

/* Rating Component */
[data-pc-section="onicon"] {
  @apply text-yellow-500;
}

.p-rating-item {
  @apply ml-0.5;
}

/* InputNumber Component */
.p-inputnumber {
  @apply border-2 rounded-md outline-none;
  .p-inputnumber-input {
    @apply p-1 pl-3 outline-none;
  }
  .p-inputnumber-button-group {
    @apply divide-y border-l;
    .p-inputnumber-button {
      @apply p-1 active:bg-main active:text-white;
    }
  }
}

/* Prime-React Components End */

/* .PhoneInputInput {
  @apply bg-white dark:bg-slate-900  transition duration-300 ease-in-out border border-slate-200
  dark:border-slate-700 dark:text-slate-300  focus:ring-1 focus:ring-slate-600
  dark:focus:ring-slate-900 focus:outline-none focus:ring-opacity-90 rounded
   placeholder:text-slate-400 text-slate-900 text-sm px-3  placeholder:font-normal dark:placeholder:text-slate-400 block w-full;
} */

.PhoneInputCountry {
  @apply border-r pr-2;
}
